body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #e0e0e0;
  font-weight: 300;
  text-align: center;
  background-color: #2d3538;
  margin: 0;
}

h1 {
  font-weight: 300;
  margin: 0px;
  font-size: 20px;
  color: #fff;
  padding: 10px;
}

h2 {
  font-weight: 300;
  margin: 0px;
  font-size: 14px;
  color: #fff;
  padding: 10px;
}

hr {
  border-color: #00000033;
  width: 65%;
}

img {
  width: 80%;
  height: auto;
  border-radius: 3px;
  padding: 10px;
}

.top-container {
  background-color: #05a1c075;
  border-radius: 10px;
  margin: 2rem;
  padding: 10px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 22px;
  margin-bottom: 40px;
}

.answer-container {
  display: flex;
}

.images {
  flex-basis: 50%;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  align-self: center;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #05a1c075;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
}

button:hover {
  background-color: #05a1c08e;
}

.slide {
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
}

.active-slide {
  opacity: 1;
  z-index: 2;
  display: block;
}

.quiz-box {
  height: auto;
  margin: 40px;
}

/* Popup */
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, .4);
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hover_bkgr_fricc>div {
  background-color: #1b2023eb;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 30px 5%;
}

.trigger_popup_fricc {
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}